$color-rosa: #dc3545;
$color-naranja: #ffbb00;
$color-blanco: #fff;
$color-negro: #000;
$color-grisoscuro: rgb(43, 43, 43);
$color-grisclaro: rgb(248,249,250);
$font-family: 'Lato', sans-serif;
$font-secundaria: 'Lora', serif; 
